<!-- _part/menu/sideMenu -->

<div class="nav-tree" data-jam="NavTree">

    <div class="nav-item">
        <a href="studio" class="nav-link">
            <span data-t="">Студия</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="office" class="nav-link">
            <span data-t="">Офис</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="admin" class="nav-link">
            <span data-t="">Администрирование</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="account" class="nav-link">
            <span data-t="">Аккаунт</span>
        </a>
    </div>
</div>