<!-- app/_part/misc/alert -->

<% if (_module.app.isDemo()) { %>
<div class="alert-info alert">
    Приложение работает в демонстрационном режиме. Изменение данных заблокировано.
</div>
<% } %>

<%- include(_view.get('_part/misc/flash')) %>