<template id="breadcrumbs">
    <div class="page-head">
        <ol class="breadcrumb">
            <slot name="path">
                <li class="breadcrumb-item">Главная</li>
            </slot>
        </ol>
    </div>
</template>