
<div class="friend-list loadable-container" data-handler="MemberFriendList" data-member="{{_id}}">

    <template data-id="list">
        <div class="friend-items">##items##</div>
    </template>

    <template data-id="item">
        <div class="friend-card" data-id="##_id##">
            <div class="friend-title">
                <span class="fas fa-user text-success"></span>
                <a href="#" data-action="member">##name##</a>
            </div>
        </div>
    </template>

    <%- include('./_pagination', {start: '##', end: '##'}) %>

    <template data-id="empty">
        <div class="alert-warning alert">
            <span data-t="">Друзей не найдено</span>
        </div>
    </template>

    <template data-id="warning">
        <div class="alert-warning alert">##text##</div>
    </template>

    <template data-id="error">
        <div class="alert-danger alert">##text##</div>
    </template>

    <div class="loadable-content"></div>
    <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
</div>